<div>
  <nav class="navbar navbar-expand navbar-dark bg-dark">
    <a href="#" class="navbar-brand">SpringStorm</a>
    <div class="navbar-nav mr-auto">
      <li class="nav-item">
        <a routerLink="account" class="nav-link">Home</a>
      </li>
      <li class="nav-item">
        <a routerLink="plan" class="nav-link">Plan</a>
      </li>
      <li class="nav-item">
        <a routerLink="device" class="nav-link">Device</a>
      </li>
    </div>
  </nav>
  <div class="container mt-3">
    <router-outlet></router-outlet>
  </div>
</div>