<div class="container">
  <table class="table">
    <thead>
      <tr>
        <th scope="col">Plan ID</th>
        <th scope="col">Plan Name</th>
        <th scope="col">Plan Cost</th>
        <th scope="col">Device Limit</th>
        <th scope="col">Plan Details</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let plan of plans">
        <td>{{plan.planid}}</td>
        <td>{{plan.planName}}</td>
        <td>{{plan.planCost}}</td>
        <td>{{plan.deviceLimit}}</td>
        <td>
            <button class="btn btn-danger btn-sm">Details</button>
        </td>
      </tr>
    </tbody>
  </table>
</div>